    <footer>
        <p>Challenge by <a href="https://www.frontendmentor.io/challenges/todo-app-Su1_KokOW">Frontend Mentor</a> <br> Developed by 
            <a href="https://github.com/PNkosi">Perfect Nkosi</a>
        </p>
    </footer>

    <script src="Js/theme.js"></script>
    <script src="Js/filter.js"></script>
</body>
</html>
